<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.memberMapper">
	<insert id="MemberWrite" parameterType="RegisterRequest">
		insert into
		member(id,email,password,name)
		values(seq_board.nextVal,#{email},#{password},#{name})
	</insert>
</mapper>